/*! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com*/
*,:after,:before {
        border: 0 solid #e5e7eb;
        box-sizing: border-box
}

:after,:before {
        --tw-content: ""
}

:host,html {
        -webkit-text-size-adjust: 100%;
        font-feature-settings: normal;
        -webkit-tap-highlight-color: transparent;
        font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-variation-settings: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4
}

body {
        line-height: inherit;
        margin: 0
}

hr {
        border-top-width: 1px;
        color: inherit;
        height: 0
}

abbr:where([title]) {
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
        font-size: inherit;
        font-weight: inherit
}

a {
        color: inherit;
        text-decoration: inherit
}

b,strong {
        font-weight: bolder
}

code,kbd,pre,samp {
        font-feature-settings: normal;
        font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
        font-size: 1em;
        font-variation-settings: normal
}

small {
        font-size: 80%
}

sub,sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline
}

sub {
        bottom: -.25em
}

sup {
        top: -.5em
}

table {
        border-collapse: collapse;
        border-color: inherit;
        text-indent: 0
}

button,input,optgroup,select,textarea {
        font-feature-settings: inherit;
        color: inherit;
        font-family: inherit;
        font-size: 100%;
        font-variation-settings: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0
}

button,select {
        text-transform: none
}

[type=button],[type=reset],[type=submit],button {
        -webkit-appearance: button;
        background-color: transparent;
        background-image: none
}

:-moz-focusring {
        outline: auto
}

:-moz-ui-invalid {
        box-shadow: none
}

progress {
        vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
        height: auto
}

[type=search] {
        -webkit-appearance: textfield;
        outline-offset: -2px
}

::-webkit-search-decoration {
        -webkit-appearance: none
}

::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit
}

summary {
        display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
        margin: 0
}

fieldset {
        margin: 0
}

fieldset,legend {
        padding: 0
}

menu,ol,ul {
        list-style: none;
        margin: 0;
        padding: 0
}

dialog {
        padding: 0
}

textarea {
        resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
        color: #9ca3af;
        opacity: 1
}

input::placeholder,textarea::placeholder {
        color: #9ca3af;
        opacity: 1
}

[role=button],button {
        cursor: pointer
}

:disabled {
        cursor: default
}

audio,canvas,embed,iframe,img,object,svg,video {
        display: block;
        vertical-align: middle
}

img,video {
        height: auto;
        max-width: 100%
}

[hidden] {
        display: none
}

[multiple],[type=date],[type=datetime-local],[type=email],[type=month],[type=number],[type=password],[type=search],[type=tel],[type=text],[type=time],[type=url],[type=week],input:where(:not([type])),select,textarea {
        --tw-shadow: 0 0 #0000;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        border-color: #6b7280;
        border-radius: 0;
        border-width: 1px;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: .5rem .75rem
}

[multiple]:focus,[type=date]:focus,[type=datetime-local]:focus,[type=email]:focus,[type=month]:focus,[type=number]:focus,[type=password]:focus,[type=search]:focus,[type=tel]:focus,[type=text]:focus,[type=time]:focus,[type=url]:focus,[type=week]:focus,input:where(:not([type])):focus,select:focus,textarea:focus {
        --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: #2563eb;
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        border-color: #2563eb;
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
        outline: 2px solid transparent;
        outline-offset: 2px
}

input::-moz-placeholder,textarea::-moz-placeholder {
        color: #6b7280;
        opacity: 1
}

input::placeholder,textarea::placeholder {
        color: #6b7280;
        opacity: 1
}

::-webkit-datetime-edit-fields-wrapper {
        padding: 0
}

::-webkit-date-and-time-value {
        min-height: 1.5em;
        text-align: inherit
}

::-webkit-datetime-edit {
        display: inline-flex
}

::-webkit-datetime-edit,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-meridiem-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-year-field {
        padding-bottom: 0;
        padding-top: 0
}

select {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
        background-position: right .5rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        padding-right: 2.5rem;
        print-color-adjust: exact
}

[multiple],[size]:where(select:not([size="1"])) {
        background-image: none;
        background-position: 0 0;
        background-repeat: unset;
        background-size: initial;
        padding-right: .75rem;
        print-color-adjust: unset
}

[type=checkbox],[type=radio] {
        --tw-shadow: 0 0 #0000;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        background-origin: border-box;
        border-color: #6b7280;
        border-width: 1px;
        color: #2563eb;
        display: inline-block;
        flex-shrink: 0;
        height: 1rem;
        padding: 0;
        print-color-adjust: exact;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        vertical-align: middle;
        width: 1rem
}

[type=checkbox] {
        border-radius: 0
}

[type=radio] {
        border-radius: 100%
}

[type=checkbox]:focus,[type=radio]:focus {
        --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
        --tw-ring-offset-width: 2px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: #2563eb;
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
        outline: 2px solid transparent;
        outline-offset: 2px
}

[type=checkbox]:checked,[type=radio]:checked {
        background-color: currentColor;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-color: transparent
}

[type=checkbox]:checked {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E")
}

@media (forced-colors:active) {
        [type=checkbox]:checked {
                -webkit-appearance: auto;
                -moz-appearance: auto;
                appearance: auto
        }
}

[type=radio]:checked {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E")
}

@media (forced-colors:active) {
        [type=radio]:checked {
                -webkit-appearance: auto;
                -moz-appearance: auto;
                appearance: auto
        }
}

[type=checkbox]:checked:focus,[type=checkbox]:checked:hover,[type=radio]:checked:focus,[type=radio]:checked:hover {
        background-color: currentColor;
        border-color: transparent
}

[type=checkbox]:indeterminate {
        background-color: currentColor;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-color: transparent
}

@media (forced-colors:active) {
        [type=checkbox]:indeterminate {
                -webkit-appearance: auto;
                -moz-appearance: auto;
                appearance: auto
        }
}

[type=checkbox]:indeterminate:focus,[type=checkbox]:indeterminate:hover {
        background-color: currentColor;
        border-color: transparent
}

[type=file] {
        background: unset;
        border-color: inherit;
        border-radius: 0;
        border-width: 0;
        font-size: unset;
        line-height: inherit;
        padding: 0
}

[type=file]:focus {
        outline: 1px solid ButtonText;
        outline: 1px auto -webkit-focus-ring-color
}

*,:after,:before {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x: ;
        --tw-pan-y: ;
        --tw-pinch-zoom: ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position: ;
        --tw-gradient-via-position: ;
        --tw-gradient-to-position: ;
        --tw-ordinal: ;
        --tw-slashed-zero: ;
        --tw-numeric-figure: ;
        --tw-numeric-spacing: ;
        --tw-numeric-fraction: ;
        --tw-ring-inset: ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59,130,246,.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
}

::backdrop {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x: ;
        --tw-pan-y: ;
        --tw-pinch-zoom: ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position: ;
        --tw-gradient-via-position: ;
        --tw-gradient-to-position: ;
        --tw-ordinal: ;
        --tw-slashed-zero: ;
        --tw-numeric-figure: ;
        --tw-numeric-spacing: ;
        --tw-numeric-fraction: ;
        --tw-ring-inset: ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59,130,246,.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
}

.container {
        margin-left: auto;
        margin-right: auto;
        width: 100%
}

@media (min-width: 640px) {
        .container {
                max-width:640px
        }
}

@media (min-width: 768px) {
        .container {
                max-width:768px
        }
}

@media (min-width: 1024px) {
        .container {
                max-width:1024px
        }
}

@media (min-width: 1280px) {
        .container {
                max-width:1280px
        }
}

.sr-only {
        clip: rect(0,0,0,0);
        border-width: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px
}

.visible {
        visibility: visible
}

.collapse {
        visibility: collapse
}

.fixed {
        position: fixed
}

.absolute {
        position: absolute
}

.relative {
        position: relative
}

.inset-x-0 {
        left: 0;
        right: 0
}

.bottom-0 {
        bottom: 0
}

.bottom-0\.5 {
        bottom: .125rem
}

.bottom-10 {
        bottom: 2.5rem
}

.left-0 {
        left: 0
}

.top-0 {
        top: 0
}

.z-0 {
        z-index: 0
}

.z-20 {
        z-index: 20
}

.col-span-4 {
        grid-column: span 4/span 4
}

.float-right {
        float: right
}

.float-left {
        float: left
}

.m-0 {
        margin: 0
}

.m-auto {
        margin: auto
}

.mx-1 {
        margin-left: .25rem;
        margin-right: .25rem
}

.mx-1\.5 {
        margin-left: .375rem;
        margin-right: .375rem
}

.mx-5 {
        margin-left: 1.25rem;
        margin-right: 1.25rem
}

.mx-auto {
        margin-left: auto;
        margin-right: auto
}

.my-0 {
        margin-bottom: 0;
        margin-top: 0
}

.my-1 {
        margin-bottom: .25rem;
        margin-top: .25rem
}

.my-6 {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem
}

.my-auto {
        margin-bottom: auto;
        margin-top: auto
}

.-ml-px {
        margin-left: -1px
}

.mb-0 {
        margin-bottom: 0
}

.mb-1 {
        margin-bottom: .25rem
}

.mb-2 {
        margin-bottom: .5rem
}

.mb-3 {
        margin-bottom: .75rem
}

.mb-5 {
        margin-bottom: 1.25rem
}

.mb-7 {
        margin-bottom: 1.75rem
}

.me-1 {
        margin-inline-end:.25rem
}

.me-2 {
        margin-inline-end:.5rem
}

.ml-0 {
        margin-left: 0
}

.ml-0\.5 {
        margin-left: .125rem
}

.ml-1 {
        margin-left: .25rem
}

.ml-2 {
        margin-left: .5rem
}

.ml-3 {
        margin-left: .75rem
}

.mr-0 {
        margin-right: 0
}

.mr-0\.5 {
        margin-right: .125rem
}

.mr-1 {
        margin-right: .25rem
}

.mr-1\.5 {
        margin-right: .375rem
}

.mr-2 {
        margin-right: .5rem
}

.mr-3 {
        margin-right: .75rem
}

.mr-4 {
        margin-right: 1rem
}

.ms-1 {
        margin-inline-start:.25rem
}

.mt-1 {
        margin-top: .25rem
}

.mt-10 {
        margin-top: 2.5rem
}

.mt-2 {
        margin-top: .5rem
}

.mt-3 {
        margin-top: .75rem
}

.mt-5 {
        margin-top: 1.25rem
}

.block {
        display: block
}

.inline-block {
        display: inline-block
}

.inline {
        display: inline
}

.flex {
        display: flex
}

.inline-flex {
        display: inline-flex
}

.table {
        display: table
}

.grid {
        display: grid
}

.list-item {
        display: list-item
}

.hidden {
        display: none
}

.h-1 {
        height: .25rem
}

.h-1\.5 {
        height: .375rem
}

.h-4 {
        height: 1rem
}

.h-5 {
        height: 1.25rem
}

.h-6 {
        height: 1.5rem
}

.h-7 {
        height: 1.75rem
}

.h-\[14px\] {
        height: 14px
}

.h-\[30px\] {
        height: 30px
}

.w-1 {
        width: .25rem
}

.w-1\.5 {
        width: .375rem
}

.w-3\/4 {
        width: 75%
}

.w-4 {
        width: 1rem
}

.w-5 {
        width: 1.25rem
}

.w-6 {
        width: 1.5rem
}

.w-60 {
        width: 15rem
}

.w-7 {
        width: 1.75rem
}

.w-\[25px\] {
        width: 25px
}

.w-\[50px\] {
        width: 50px
}

.w-\[60px\] {
        width: 60px
}

.w-full {
        width: 100%
}

.min-w-0 {
        min-width: 0
}

.max-w-full {
        max-width: 100%
}

.flex-1 {
        flex: 1 1 0%
}

.flex-none {
        flex: none
}

.flex-shrink-0 {
        flex-shrink: 0
}

.transform {
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-default {
        cursor: default
}

.cursor-pointer {
        cursor: pointer
}

.select-none {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
}

.resize {
        resize: both
}

.\!list-disc {
        list-style-type: disc!important
}

.list-none {
        list-style-type: none
}

.grid-cols-4 {
        grid-template-columns: repeat(4,minmax(0,1fr))
}

.flex-row {
        flex-direction: row
}

.flex-col {
        flex-direction: column
}

.flex-wrap {
        flex-wrap: wrap
}

.items-center {
        align-items: center
}

.justify-end {
        justify-content: flex-end
}

.justify-center {
        justify-content: center
}

.justify-between {
        justify-content: space-between
}

.gap-1 {
        gap: .25rem
}

.gap-10 {
        gap: 2.5rem
}

.gap-2 {
        gap: .5rem
}

.gap-x-2 {
        -moz-column-gap: .5rem;
        column-gap: .5rem
}

.gap-y-1 {
        row-gap: .25rem
}

.gap-y-2 {
        row-gap: .5rem
}

.space-x-3>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-left: calc(.75rem*(1 - var(--tw-space-x-reverse)));
        margin-right: calc(.75rem*var(--tw-space-x-reverse))
}

.space-y-2>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-bottom: calc(.5rem*var(--tw-space-y-reverse));
        margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)))
}

.self-center {
        align-self: center
}

.overflow-hidden,.truncate {
        overflow: hidden
}

.truncate {
        text-overflow: ellipsis;
        white-space: nowrap
}

.rounded {
        border-radius: .25rem
}

.rounded-full {
        border-radius: 9999px
}

.rounded-lg {
        border-radius: .5rem
}

.rounded-md {
        border-radius: .375rem
}

.rounded-sm {
        border-radius: .125rem
}

.rounded-b {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem
}

.rounded-l-md {
        border-bottom-left-radius: .375rem;
        border-top-left-radius: .375rem
}

.rounded-r-md {
        border-bottom-right-radius: .375rem;
        border-top-right-radius: .375rem
}

.border {
        border-width: 1px
}

.border-0 {
        border-width: 0
}

.border-t-4 {
        border-top-width: 4px
}

.border-solid {
        border-style: solid
}

.border-none {
        border-style: none
}

.border-gray-300 {
        --tw-border-opacity: 1;
        border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.border-gray-400 {
        --tw-border-opacity: 1;
        border-color: rgb(156 163 175/var(--tw-border-opacity))
}

.border-teal-500 {
        --tw-border-opacity: 1;
        border-color: rgb(20 184 166/var(--tw-border-opacity))
}

.bg-\[\#1aadf9\]\/50 {
        background-color: rgba(26,173,249,.5)
}

.bg-\[\#49d0b2\]\/50 {
        background-color: rgba(73,208,178,.5)
}

.bg-\[\#939EF0\]\/50 {
        background-color: rgba(147,158,240,.5)
}

.bg-\[\#FDBF00\]\/50 {
        background-color: rgba(253,191,0,.5)
}

.bg-\[\#d9534f\] {
        --tw-bg-opacity: 1;
        background-color: rgb(217 83 79/var(--tw-bg-opacity))
}

.bg-\[\#e3953e\]\/50 {
        background-color: rgba(227,149,62,.5)
}

.bg-\[\#fff\] {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-amber-600 {
        --tw-bg-opacity: 1;
        background-color: rgb(217 119 6/var(--tw-bg-opacity))
}

.bg-blue-600 {
        --tw-bg-opacity: 1;
        background-color: rgb(37 99 235/var(--tw-bg-opacity))
}

.bg-gray-100 {
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.bg-gray-200 {
        --tw-bg-opacity: 1;
        background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.bg-gray-50 {
        --tw-bg-opacity: 1;
        background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.bg-gray-500 {
        --tw-bg-opacity: 1;
        background-color: rgb(107 114 128/var(--tw-bg-opacity))
}

.bg-gray-600 {
        --tw-bg-opacity: 1;
        background-color: rgb(75 85 99/var(--tw-bg-opacity))
}

.bg-gray-800 {
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.bg-green-600 {
        --tw-bg-opacity: 1;
        background-color: rgb(22 163 74/var(--tw-bg-opacity))
}

.bg-slate-100 {
        --tw-bg-opacity: 1;
        background-color: rgb(241 245 249/var(--tw-bg-opacity))
}

.bg-slate-200 {
        --tw-bg-opacity: 1;
        background-color: rgb(226 232 240/var(--tw-bg-opacity))
}

.bg-teal-100 {
        --tw-bg-opacity: 1;
        background-color: rgb(204 251 241/var(--tw-bg-opacity))
}

.bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.fill-current {
        fill: currentColor
}

.p-0 {
        padding: 0
}

.p-0\.5 {
        padding: .125rem
}

.p-1 {
        padding: .25rem
}

.p-2 {
        padding: .5rem
}

.px-0 {
        padding-left: 0;
        padding-right: 0
}

.px-1 {
        padding-left: .25rem;
        padding-right: .25rem
}

.px-1\.5 {
        padding-left: .375rem;
        padding-right: .375rem
}

.px-2 {
        padding-left: .5rem;
        padding-right: .5rem
}

.px-4 {
        padding-left: 1rem;
        padding-right: 1rem
}

.px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem
}

.px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
}

.py-0 {
        padding-bottom: 0;
        padding-top: 0
}

.py-0\.5 {
        padding-bottom: .125rem;
        padding-top: .125rem
}

.py-1 {
        padding-bottom: .25rem;
        padding-top: .25rem
}

.py-2 {
        padding-bottom: .5rem;
        padding-top: .5rem
}

.py-2\.5 {
        padding-bottom: .625rem;
        padding-top: .625rem
}

.py-3 {
        padding-bottom: .75rem;
        padding-top: .75rem
}

.py-4 {
        padding-bottom: 1rem;
        padding-top: 1rem
}

.pb-1 {
        padding-bottom: .25rem
}

.pe-0 {
        padding-inline-end:0
}

.pl-10 {
        padding-left: 2.5rem
}

.pr-5 {
        padding-right: 1.25rem
}

.ps-1 {
        padding-inline-start:.25rem
}

.pt-0 {
        padding-top: 0
}

.pt-1 {
        padding-top: .25rem
}

.pt-5 {
        padding-top: 1.25rem
}

.pt-7 {
        padding-top: 1.75rem
}

.text-left {
        text-align: left
}

.text-center {
        text-align: center
}

.text-right {
        text-align: right
}

.text-justify {
        text-align: justify
}

.align-top {
        vertical-align: top
}

.align-middle {
        vertical-align: middle
}

.align-bottom {
        vertical-align: bottom
}

.font-sans {
        font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

.text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
}

.text-\[10px\] {
        font-size: 10px
}

.text-\[13px\] {
        font-size: 13px
}

.text-base {
        font-size: 1rem;
        line-height: 1.5rem
}

.text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
}

.text-sm {
        font-size: .875rem;
        line-height: 1.25rem
}

.text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
}

.text-xs {
        font-size: .75rem;
        line-height: 1rem
}

.font-bold {
        font-weight: 700
}

.font-medium {
        font-weight: 500
}

.font-semibold {
        font-weight: 600
}

.uppercase {
        text-transform: uppercase
}

.capitalize {
        text-transform: capitalize
}

.leading-4 {
        line-height: 1rem
}

.leading-5 {
        line-height: 1.25rem
}

.leading-6 {
        line-height: 1.5rem
}

.leading-\[30px\] {
        line-height: 30px
}

.leading-none {
        line-height: 1
}

.leading-normal {
        line-height: 1.5
}

.text-\[\#0d5980\] {
        --tw-text-opacity: 1;
        color: rgb(13 89 128/var(--tw-text-opacity))
}

.text-\[\#36a189\] {
        --tw-text-opacity: 1;
        color: rgb(54 161 137/var(--tw-text-opacity))
}

.text-\[\#6678EA\] {
        --tw-text-opacity: 1;
        color: rgb(102 120 234/var(--tw-text-opacity))
}

.text-\[\#9c662a\] {
        --tw-text-opacity: 1;
        color: rgb(156 102 42/var(--tw-text-opacity))
}

.text-\[\#CC1E0D\] {
        --tw-text-opacity: 1;
        color: rgb(204 30 13/var(--tw-text-opacity))
}

.text-\[\#E63950\] {
        --tw-text-opacity: 1;
        color: rgb(230 57 80/var(--tw-text-opacity))
}

.text-blue-100 {
        --tw-text-opacity: 1;
        color: rgb(219 234 254/var(--tw-text-opacity))
}

.text-blue-600 {
        --tw-text-opacity: 1;
        color: rgb(37 99 235/var(--tw-text-opacity))
}

.text-blue-700 {
        --tw-text-opacity: 1;
        color: rgb(29 78 216/var(--tw-text-opacity))
}

.text-gray-200 {
        --tw-text-opacity: 1;
        color: rgb(229 231 235/var(--tw-text-opacity))
}

.text-gray-300 {
        --tw-text-opacity: 1;
        color: rgb(209 213 219/var(--tw-text-opacity))
}

.text-gray-400 {
        --tw-text-opacity: 1;
        color: rgb(156 163 175/var(--tw-text-opacity))
}

.text-gray-500 {
        --tw-text-opacity: 1;
        color: rgb(107 114 128/var(--tw-text-opacity))
}

.text-gray-700 {
        --tw-text-opacity: 1;
        color: rgb(55 65 81/var(--tw-text-opacity))
}

.text-gray-900 {
        --tw-text-opacity: 1;
        color: rgb(17 24 39/var(--tw-text-opacity))
}

.text-indigo-600 {
        --tw-text-opacity: 1;
        color: rgb(79 70 229/var(--tw-text-opacity))
}

.text-red-500 {
        --tw-text-opacity: 1;
        color: rgb(239 68 68/var(--tw-text-opacity))
}

.text-slate-500 {
        --tw-text-opacity: 1;
        color: rgb(100 116 139/var(--tw-text-opacity))
}

.text-teal-500 {
        --tw-text-opacity: 1;
        color: rgb(20 184 166/var(--tw-text-opacity))
}

.text-teal-900 {
        --tw-text-opacity: 1;
        color: rgb(19 78 74/var(--tw-text-opacity))
}

.text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-yellow-400 {
        --tw-text-opacity: 1;
        color: rgb(250 204 21/var(--tw-text-opacity))
}

.underline {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline
}

.line-through {
        -webkit-text-decoration-line: line-through;
        text-decoration-line: line-through
}

.decoration-4 {
        text-decoration-thickness: 4px
}

.shadow {
        --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color)
}

.shadow,.shadow-\[inset_0px_0px_0px_2px_\#E63950\] {
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-\[inset_0px_0px_0px_2px_\#E63950\] {
        --tw-shadow: inset 0px 0px 0px 2px #e63950;
        --tw-shadow-colored: inset 0px 0px 0px 2px var(--tw-shadow-color)
}

.shadow-md {
        --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-md,.shadow-sm {
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-sm {
        --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color)
}

.ring-2 {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.ring-cyan-500 {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(6 182 212/var(--tw-ring-opacity))
}

.blur {
        --tw-blur: blur(8px)
}

.blur,.filter {
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
        transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.duration-150,.transition {
        transition-duration: .15s
}

.ease-in-out {
        transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.hover\:bg-amber-800:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(146 64 14/var(--tw-bg-opacity))
}

.hover\:bg-gray-50:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.hover\:bg-gray-900:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

.hover\:bg-green-700:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(21 128 61/var(--tw-bg-opacity))
}

.hover\:bg-red-200:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(254 202 202/var(--tw-bg-opacity))
}

.hover\:bg-red-800:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(153 27 27/var(--tw-bg-opacity))
}

.hover\:\!text-red-400:hover {
        --tw-text-opacity: 1!important;
        color: rgb(248 113 113/var(--tw-text-opacity))!important
}

.hover\:text-gray-400:hover {
        --tw-text-opacity: 1;
        color: rgb(156 163 175/var(--tw-text-opacity))
}

.hover\:text-gray-500:hover {
        --tw-text-opacity: 1;
        color: rgb(107 114 128/var(--tw-text-opacity))
}

.hover\:text-red-900:hover {
        --tw-text-opacity: 1;
        color: rgb(127 29 29/var(--tw-text-opacity))
}

.hover\:shadow-lg:hover {
        --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.focus\:z-10:focus {
        z-index: 10
}

.focus\:border-blue-300:focus {
        --tw-border-opacity: 1;
        border-color: rgb(147 197 253/var(--tw-border-opacity))
}

.focus\:border-blue-500:focus {
        --tw-border-opacity: 1;
        border-color: rgb(59 130 246/var(--tw-border-opacity))
}

.focus\:shadow-lg:focus {
        --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.focus\:outline-none:focus {
        outline: 2px solid transparent;
        outline-offset: 2px
}

.focus\:ring-0:focus {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.focus\:ring-0:focus,.focus\:ring-2:focus {
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.focus\:ring-2:focus {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.focus\:ring-4:focus {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.focus\:ring-blue-500:focus {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(59 130 246/var(--tw-ring-opacity))
}

.focus\:ring-gray-300:focus {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(209 213 219/var(--tw-ring-opacity))
}

.focus-visible\:outline:focus-visible {
        outline-style: solid
}

.focus-visible\:outline-2:focus-visible {
        outline-width: 2px
}

.focus-visible\:outline-offset-2:focus-visible {
        outline-offset: 2px
}

.focus-visible\:outline-\[\#d43f3a\]:focus-visible {
        outline-color: #d43f3a
}

.active\:bg-gray-100:active {
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.active\:text-gray-500:active {
        --tw-text-opacity: 1;
        color: rgb(107 114 128/var(--tw-text-opacity))
}

.active\:text-gray-700:active {
        --tw-text-opacity: 1;
        color: rgb(55 65 81/var(--tw-text-opacity))
}

.active\:shadow-lg:active {
        --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

@media (min-width: 640px) {
        .sm\:mt-0 {
                margin-top:0
        }

        .sm\:flex {
                display: flex
        }

        .sm\:hidden {
                display: none
        }

        .sm\:flex-1 {
                flex: 1 1 0%
        }

        .sm\:items-center {
                align-items: center
        }

        .sm\:justify-between {
                justify-content: space-between
        }

        .sm\:gap-0 {
                gap: 0
        }

        .sm\:px-6 {
                padding-left: 1.5rem;
                padding-right: 1.5rem
        }
}

@media (min-width: 768px) {
        .md\:col-span-1 {
                grid-column:span 1/span 1
        }

        .md\:col-span-3 {
                grid-column: span 3/span 3
        }

        .md\:my-8 {
                margin-bottom: 2rem;
                margin-top: 2rem
        }

        .md\:hidden {
                display: none
        }

        .md\:w-1\/2 {
                width: 50%
        }

        .md\:justify-start {
                justify-content: flex-start
        }

        .md\:self-start {
                align-self: flex-start
        }

        .md\:px-3 {
                padding-left: .75rem;
                padding-right: .75rem
        }

        .md\:py-1 {
                padding-bottom: .25rem;
                padding-top: .25rem
        }

        .md\:text-xl {
                font-size: 1.25rem
        }

        .md\:leading-7,.md\:text-xl {
                line-height: 1.75rem
        }
}
